/*
Bip boop. Boop bip?

Applys custom dark mode to HPortal.co.il.

Made as a part of HPDark. 
*/


body.darkModeOn .post1, 
    body.darkModeOn .post2, 
    body.darkModeOn #QUOTE, 
    body.darkModeOn #CODE, 
    body.darkModeOn .tablepad { 
	/* Comments in topics, User information (to the right of comments), QUOTE block, CODE block, Quick meassage sending */
        background-color: #353535 !important; 
}

body.darkModeOn .row5, 
    body.darkModeOn .darkrow3, 
    body.darkModeOn .row6, 
    body.darkModeOn .row10, 
    body.darkModeOn .darkrow3, 
    body.darkModeOn .darkrow1, 
    body.darkModeOn .darkrow2 { 
	/* f */
        background-image: url(../style_images/4/tile_sub.png) !important;
}

body.darkModeOn .tablepod, 
    body.darkModeOn .row1, 
    body.darkModeOn .row4, 
    body.darkModeOn .pformleft, 
    body.darkModeOn .pformright, 
    body.darkModeOn .tablefill, 
    body.darkModeOn .row2, 
    body.darkModeOn .row2 a, 
    body.darkModeOn .pname, 
    body.darkModeOn .psubtitle, 
    body.darkModeOn .vcjb, 
    body.darkModeOn .nameminiprofile, 
    body.darkModeOn .mainminiprofile, 
    body.darkModeOn .row7, 
    body.darkModeOn .row7 a, 
    body.darkModeOn .row8, 
    body.darkModeOn .row8 a, 
    body.darkModeOn #ucpmenu, 
    body.darkModeOn #ucpcontent, 
    body.darkModeOn .row9, 
    body.darkModeOn .tableborder, 
    body.darkModeOn .dlight, /* Private Messages */
    body.darkModeOn .row3, 
    body.darkModeOn .pformleftw {
        background-color: #353535 !important;
}

body.darkModeOn .hlight,
    body.darkModeOn .hlight a {
        background-color: #464646;
        color: #bababa;
}

body.darkModeOn .textinput, 
    body.darkModeOn .forminput, 
    body.darkModeOn .codebuttons {
        background-color: #222323 !important;
        color: white !important;
}
body.darkModeOn .row4 {
    background-color: #454545 !important;
}
body.darkModeOn ::-webkit-scrollbar {
    width: 10px;
}
body.darkModeOn ::-webkit-scrollbar-track {
    background: #555; 
}
body.darkModeOn ::-webkit-scrollbar-thumb {
    background: #888; 
}
body.darkModeOn ::-webkit-scrollbar-thumb:hover {
    background: #000; 
}
body.darkModeOn .desc {
    color: #bababa !important;
}

body.darkModeOn .row5,
    body.darkModeOn .darkrow3,
    body.darkModeOn .post1, 
    body.darkModeOn .post2, 
    body.darkModeOn #QUOTE, 
    body.darkModeOn #CODE, 
    body.darkModeOn .signature, 
    body.darkModeOn .row10, 
    body.darkModeOn .signature a, 
    body.darkModeOn fieldset a, 
    body.darkModeOn .row4, 
    body.darkModeOn .row4 a, 
    body.darkModeOn .postcolor, 
    body.darkModeOn .pformleft b, 
    body.darkModeOn .pformright, 
    body.darkModeOn .pformright a, 
    body.darkModeOn .row2, 
    body.darkModeOn .row2 a, 
    body.darkModeOn #ucpmenu, 
    body.darkModeOn #ucpmenu a, 
    body.darkModeOn .row1, 
    body.darkModeOn .row1 a, 
    body.darkModeOn .darkrow1, 
    body.darkModeOn .pformstrip, 
    body.darkModeOn .pname, 
    body.darkModeOn .pname a, 
    body.darkModeOn .psubtitle, 
    body.darkModeOn .pname h3, 
    body.darkModeOn .pname strong, 
    body.darkModeOn .nameminiprofile, 
    body.darkModeOn .pname div, 
    body.darkModeOn .pmaintitle, 
    body.darkModeOn .row7, 
    body.darkModeOn .row7 a, 
    body.darkModeOn .row8, 
    body.darkModeOn .row8 a, 
    body.darkModeOn #ucpcontent, 
    body.darkModeOn #ucpcontent a, 
    body.darkModeOn .darkrow2, 
    body.darkModeOn .row9, 
    body.darkModeOn .tableborder, 
    body.darkModeOn .tableborder a, 
    body.darkModeOn .tableborder p, 
    body.darkModeOn .tableborder td, 
    body.darkModeOn .dlight, /* Private Messages */
    body.darkModeOn .dlight a /* Private Messages links */ {
        color: #BABABA !important;
}

body.darkModeOn button, 
    body.darkModeOn input[type=button], 
    body.darkModeOn input[type=submit] {
        border-radius: 5px !important;
}

body.darkModeOn option {
    color: white !important;
    background-color: #222323;
}

body.darkModeOn .tablepod a {
    color: #fff !important;
}

body.darkModeOn div:not(.thin) span[style*="color:yellow"],
    body.darkModeOn div:not(.thin) span[style*="color:AliceBlue"],
    body.darkModeOn div:not(.thin) span[style*="color:LightCyan"],
    body.darkModeOn div:not(.thin) span[style*="color:Aqua"], 
    body.darkModeOn div:not(.thin) span[style*="color:Cyan"], 
    body.darkModeOn div:not(.thin) span[style*="color:LightYellow"], 
    body.darkModeOn div:not(.thin) span[style*="color:Cornsilk"], 
    body.darkModeOn div:not(.thin) span[style*="color:White"], 
    body.darkModeOn div:not(.thin) span[style*="color:Snow"], 
    body.darkModeOn div:not(.thin) span[style*="color:Honeydew"], 
    body.darkModeOn div:not(.thin) span[style*="color:MintCream"], 
    body.darkModeOn div:not(.thin) span[style*="color:Azure"], 
    body.darkModeOn div:not(.thin) span[style*="color:GhostWhite"],
    body.darkModeOn div:not(.thin) span[style*="color:WhiteSmoke"], 
    body.darkModeOn div:not(.thin) span[style*="color:FloralWhite"], 
    body.darkModeOn div:not(.thin) span[style*="color:Ivory"], 
    body.darkModeOn div:not(.thin) span[style*="color:LavenderBlush"] {
        color: #373727 !important;
}

body.darkModeOn div:not(.thin) span[style*="color:yellow"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:AliceBlue"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:LightCyan"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:Aqua"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:Cyan"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:LightYellow"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:Cornsilk"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:White"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:Snow"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:Honeydew"]:active,
    body.darkModeOn div:not(.thin) span[style*="color:MintCream"]:active,
    body.darkModeOn div:not(.thin) span[style*="color:Azure"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:GhostWhite"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:WhiteSmoke"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:FloralWhite"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:Ivory"]:active, 
    body.darkModeOn div:not(.thin) span[style*="color:LavenderBlush"]:active {
        color: yellow !important;
}

.darkSwitch {
    position: fixed;
    top: 0;
    border-radius: 50%;
    left: 30px;
    width: 50px;
    height: 50px;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/3608/3608837.svg");
    background-size: 50px;
}